:root {
    --red: red;
}

.red {
    color: var(--red);
}

.navbar-nav>.nav-item {
    margin-left: 15px;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

section {
    display: flex;
    padding-top: 12%;
    padding-bottom: 1%;
    align-items: center;
    flex-direction: column;
}

section:nth-child(odd) {
    background-color: #e9ebee;
}

.btn-primary {
    border: 0px;
    color: white;
    background-color: var(--red);
}

.card {
    margin-bottom: 25px;
    box-shadow: 0 10px 40px rgba(59, 43, 91, 0.3);
    display: flex;
    justify-content: center;
}

#third {
    background-image: url(banner.jpg);
    background-size: cover;
    padding-bottom: 200px;
}

#fourth>.container>p:nth-last-of-type(1) {
    font-size: 25px;
    margin-bottom: 100px;
}

footer {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typewrite {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}